<div *ngIf="isVisualize">
  <div class="mt-5 mb-5 center">
    <button
      mat-raised-button
      color="accent"
      (click)="exitView()"
    >
      Exit Visualization
    </button>
    <button
      class="ml-20"
      mat-raised-button
      color="primary"
      (click)="downloadPdf()"
    >
      Download Report
    </button>
  </div>

  <ngx-extended-pdf-viewer
    [src]="blobFile"
    [useBrowserLocale]="true"
    [textLayer]="true"
    [height]="'1000px'"
    [showHandToolButton]="true"
    [showPresentationModeButton]="true"
    [showDownloadButton]="false"
  >
  </ngx-extended-pdf-viewer>
</div>
