<div *ngIf="userInfo; else elseBlock" class="coordinates">
  <h1 class="center">Coordinates</h1>
  <p>First name :    {{ userInfo.firstName }}</p>
  <p>Last name :   {{ userInfo.lastName }}</p>
</div>
<ng-template #elseBlock >
  <div class="coordinates">
    <h1 class="center">Coordinates</h1>
    <p>UserInfo are loading ...</p>
  </div>
</ng-template>
