<div class="mt-4 ">
  <div class="center fw-bold">
    <h2>Weekly report deposit</h2>
  </div>

  <div *ngIf="!toggleAccordionOpen()">
    <div class="dropzone mt-2" ngx-dropzone [accept]="'application/pdf'" (change)="onSelect($event)">
      <ngx-dropzone-label>Drop your weekly report pdf here.</ngx-dropzone-label>
      <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </div>

    <div class="submit-report mt-3">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!isSubmitDropZoneDisabled()"
        (click)="uploadFile()"
      >
        Submit
      </button>
    </div>
  </div>

  <form class="depositForm mt-5" [formGroup]="depositForm" (ngSubmit)="deposit()" >
    <accordion
      [class]="'w-70 mx-auto'"
      [accordionTitle]="'Manual deposit'"
      [disabled]="accordionDisabled"
      [expanded]="accordionExpanded"
      (opened)="openAccordion()"
      (closed)="closeAccordion()"
    >
      <mat-form-field class="date" color="accent" appearance="fill">
        <mat-label>Report date</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp>
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field class="w-70" appearance="outline" >
        <mat-label >Commercial exchanges</mat-label>
        <textarea
          type="text"
          minlength="1"
          maxlength="4000"
          formControlName="comExchanges"
          matInput
        ></textarea>
      </mat-form-field>
      <div *ngIf="depositForm.controls['comExchanges'].invalid && (depositForm.controls['comExchanges'].touched || depositForm.controls['comExchanges'].dirty)" class="alert mb-10">
        <div *ngIf="depositForm.controls['comExchanges'].errors?.['required']">
          Commercial exchanges is a required field.
        </div>
      </div>

      <mat-form-field class="w-70" appearance="outline">
        <mat-label>Self studies</mat-label>
        <textarea
          type="text"
          minlength="1"
          maxlength="4000"
          formControlName="selfStudies"
          matInput
        ></textarea>
      </mat-form-field>
      <div *ngIf="depositForm.controls['selfStudies'].invalid && (depositForm.controls['selfStudies'].touched || depositForm.controls['selfStudies'].dirty)" class="alert mb-10">
        <div *ngIf="depositForm.controls['selfStudies'].errors?.['required']">
          Self studies is a required field.
        </div>
      </div>

      <mat-form-field class="w-70" appearance="outline">
        <mat-label>Intercontract projects</mat-label>
        <textarea
          type="text"
          minlength="1"
          maxlength="4000"
          formControlName="projects"
          matInput
        ></textarea>
      </mat-form-field>
      <div *ngIf="depositForm.controls['projects'].invalid && (depositForm.controls['projects'].touched || depositForm.controls['projects'].dirty)" class="alert mb-10">
        <div *ngIf="depositForm.controls['projects'].errors?.['required']">
          Commercial exchanges is a required field.
        </div>
      </div>

      <div class="submit-report">
        <button
          mat-raised-button
          color="primary"
          [disabled]="isSubmitDisabled()"
        >
          Submit
        </button>
        <button
          mat-raised-button
          class="ml-20"
          color="accent"
          [disabled]="isCancelDisabled()"
          (click)="resetManualForm()"
        >Cancel
        </button>
      </div>
    </accordion>
  </form>
</div>
