<div class="center mt-5">
  <h2>Reset your Password</h2>
  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input
          type="text"
          maxlength="250"
          formControlName="email"
          matInput
        >
      </mat-form-field>

      <div
        *ngIf="resetForm.controls['email'].invalid && (resetForm.controls['email'].touched || resetForm.controls['email'].dirty)"
        class="alert mb-10"
      >
        <div *ngIf="resetForm.controls['email'].errors?.['required']">
          Your email address is required.
        </div>
        <div *ngIf="resetForm.controls['email'].errors?.['pattern']">
          Your login is your mail creation
        </div>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Phone number</mat-label>
        <input
          type="text"
          maxlength="10"
          formControlName="phoneNumber"
          (keypress)="onlyNumberKey($event)"
          matInput
          autocomplete="off"
        >
      </mat-form-field>

      <div
        *ngIf="resetForm.controls['phoneNumber'].invalid && (resetForm.controls['phoneNumber'].touched || resetForm.controls['phoneNumber'].dirty)"
        class="alert mb-10"
      >
        <div *ngIf="resetForm.controls['phoneNumber'].errors?.['required']">
          Phone number is required.
        </div>
        <div *ngIf="resetForm.controls['phoneNumber'].errors?.['pattern']">
          Phone number must respect pattern
        </div>
      </div>
    </div>

    <div class="form-group">
      <button
        mat-raised-button
        color="primary"
        [disabled]="resetForm.invalid"
      >
        Reset Pass
      </button>
      <a class="ml-20" color="accent" routerLink="/login" mat-raised-button>Cancel</a>
    </div>
  </form>
</div>
