img {
  max-width: 100%;
  max-height: 100%;
}
nav{
  max-height: 60px;
}
.logo {
  height: 48px;
  width: 60px;
  text-align: center;
  margin: auto;
  display: flex;
}
button {
  color: white;
  background-color: transparent;
  border-style: none;
}
button:hover{
  color: #673ab7;
}
.nav-item{
  display: grid;
  align-items: center;
}
.navbar-collapse.collapse {
  grid-area: 1 / 2 / 2 / 4;
}
.navbar .container-fluid {
    display: grid;
    grid-template-columns:  15% 60% 15% 10%;
}
.user{
  color: white;
  margin: auto;
}

