<nav class="navbar navbar-expand bg-dark">
  <div class="container-fluid">

    <div class="logo c-pointer">
      <img routerLink="/home" src="assets/logo_SOLUTEC.svg" alt="logo">
    </div>

    <div class="collapse navbar-collapse" *ngIf="isLoggedIn()">
      <ul class="navbar-nav" *ngIf="isClient()">
        <li class ="nav-item mr-30" *ngFor="let button of listButtonClient">
          <button (click)="routerLink(button.route)">
            {{ button.name }}
          </button>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="isAdmin()">
        <li class ="nav-item mr-30" *ngFor="let button of listButtonAdmin">
          <button (click)="routerLink(button.route)">
            {{ button.name }}
          </button>
        </li>
      </ul>
    </div>

    <div class="navbar-collapse" *ngIf="isLoggedIn()">
      <ul class="navbar-nav ms-auto">
        <p class="user">
          {{getUsername() | titleCaseWord }}
        </p>
        <li class="nav-item">
          <button (click)="logOut()" mat-icon-button color="accent">
            <mat-icon>logout</mat-icon>
          </button>
        </li>
      </ul>
    </div>

  </div>
</nav>
