<div class="mt-4">
  <div class="center fw-bold">
    <h2>History</h2>
  </div>

  <div class="table">
    <mat-form-field color="accent" class="mt-2 ">
      <mat-label>Chose a date </mat-label>
      <input matInput [matDatepicker]="dp" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp
                      startView="multi-year"
                      (yearSelected)="chosenYearHandler($event)"
                      (monthSelected)="chosenMonthHandler($event, dp)"
      >
      </mat-datepicker>
    </mat-form-field>
  </div>

</div>

<div class="w-70 table" *ngIf="data_table!==undefined && dateSelected">
  <table
    mat-table
    [dataSource]="data_table"
    matSort
    matSortActive="date"
    matSortDirection="asc"
    class="mat-elevation-z8"
  >
    <caption>Table of Reports | {{normalizedDate}}</caption>
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
      >Name</th>
      <td
        mat-cell
        *matCellDef="let report"
        [matTooltip]="report.name"
      > {{report.name}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th
        mat-header-cell
        mat-sort-header="date"
        *matHeaderCellDef
      >Date</th>
      <td
        mat-cell
        *matCellDef="let report"
        [matTooltip]="report.date"
      >
        {{report.date}}
      </td>
    </ng-container>

    <ng-container matColumnDef="depositDate">
      <th
        mat-header-cell
        *matHeaderCellDef
      >Deposit date</th>
      <td
        mat-cell
        *matCellDef="let report"
        [matTooltip]="report.depositDate"
      >
        {{report.depositDate}}
      </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef></th>
      <td
        mat-cell
        *matCellDef="let report"
        [matTooltip]="'View'"
      >
        <button
          mat-icon-button
          (click)="onView(report.id)"
        >
          <mat-icon>info</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td
        mat-cell
        *matCellDef="let report"
        [matTooltip]="'Delete'"
      >
        <button
          mat-icon-button
          (click)="onDelete(report.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="mt-5">
    <button
      mat-raised-button
      color="accent"
      (click)="upload()"
    >
      Upload a report
    </button>
  </div>
</div>
