<div class="{{class}}">
  <mat-accordion>
    <mat-expansion-panel
      [disabled]="isDisabled()"
      [expanded]="isExpanded()"
      (opened)="open()"
      (closed)="close()"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{accordionTitle}}
        </mat-panel-title>
        <mat-panel-description>
          {{accordionDescription}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-content></ng-content>
    </mat-expansion-panel>
  </mat-accordion>
</div>
