html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center{
  text-align: center;
}
.left{
  text-align: left;
}
.ml-auto{
  margin-left: auto !important;
}
.ml-20 {
  margin-left: 20px;
}
.mr-30{
  margin-right: 30px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.w-70{
  width:70%;
}
.w-40{
  width:40%;
}
.w-25{
  width:25%;
}
.green-snackbar {
  background: rgb(8, 145, 61);
  color: white;
}
.green-snackbar button {
  background-color: rgb(8, 145, 61);
  color: white;
  border: none;
}
.red-snackbar {
  background: #F44336;
  color: white;
}
.red-snackbar button {
  background-color: #F44336;
  color: white !important;
  border: none;
}
.yellow-snackbar {
  background: #ffd740;
  color: white;
}
.yellow-snackbar button {
  background-color: #ffd740;
  color: white !important;
  border: none;
}
.alert{
  color: #F44336;
}
.c-pointer{
  cursor: pointer;
}
caption {
  text-align: right !important;
}
.c-black {
  color: black;
}
.depositForm{
  text-align: center;
}
.date{
  width: 20%;
  margin-right: 50%;
}
.dropzone{
  width : 70%;
  margin-bottom : 2%;
  margin-left: 15%;
}
.submit-report{
  width: 80%;
  text-align: left;
  margin-left: 15%;
}
.table {
  width: 70%;
  margin-left: 15%;
}

