<div class="center mt-4 fw-bold">
  <h2>Welcome to the weekly report platform</h2>
</div>


<div class="d-flex">

  <div class="w-25 left mt-5">
    <user-info></user-info>
  </div>
  <div *ngIf="isClient()">
    <div class="w-50 right ml-auto">

      <h2 class="center mt-5">You can download report template here and then deposit it or write it directly in Deposit.<br>
        You can also access your report history through the History section.
      </h2>

      <div class="center mt-5">
        <a mat-raised-button href="/assets/rapport_hebdomadaire_template.doc" color="accent" download>Download template here</a>
      </div>

    </div>
  </div>
</div>



<div *ngIf="isAdmin()">
    <h2 class="center mt-5">You can access weekly reports through the Administration section</h2>
</div>


