<div class="center mt-5">
  <h2>Registration</h2>
  <form [formGroup]="registerForm" (ngSubmit)="register()">

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>LastName</mat-label>
        <input
          type="text"
          maxlength="250"
          formControlName="lastName"
          matInput
        >
      </mat-form-field>
        <div *ngIf="registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].touched || registerForm.controls['lastName'].dirty)" class="alert mb-10">
          <div *ngIf="registerForm.controls['lastName'].errors?.['required']">
            Last name is required.
          </div>
        </div>
    </div>

    <div class="mb-20">
      <mat-divider ></mat-divider>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>FirstName</mat-label>
        <input
          type="text"
          maxlength="250"
          formControlName="firstName"
          matInput
        >
      </mat-form-field>
      <div *ngIf="registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].touched || registerForm.controls['firstName'].dirty)" class="alert mb-10">
        <div *ngIf="registerForm.controls['firstName'].errors?.['required']">
          First name is required.
        </div>
      </div>
    </div>

    <div class="mb-20">
      <mat-divider ></mat-divider>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="text"
          maxlength="250"
          formControlName="email"
          matInput
        >
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Domain" formControlName="role">
          <mat-option
            *ngFor="let role of roles"
            [value]="role.value"
          >
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].touched || registerForm.controls['email'].dirty)" class="alert">
        <div *ngIf="registerForm.controls['email'].errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="registerForm.controls['email'].errors?.['pattern']">
          Forbidden keys :
          accented letters / control characters (CTRL + keyboard key) / spaces / special signs like ()<>@,;:"[]|ç%&
        </div>
      </div>
      <div *ngIf="registerForm.controls['role'].invalid && (registerForm.controls['role'].touched || registerForm.controls['email'].dirty)" class="alert mb-10">
        <div *ngIf="registerForm.controls['role'].errors?.['required']">
          Domain is required
        </div>
      </div>
    </div>

    <div class="mb-20">
      <mat-divider ></mat-divider>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          type="password"
          maxlength="250"
          formControlName="password"
          matInput
        >
      </mat-form-field>
      <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].touched || registerForm.controls['password'].dirty)" class="alert mb-10">
        <div *ngIf="registerForm.controls['password'].errors?.['required']">
          Password is required.
        </div>
        <div *ngIf="registerForm.controls['password'].errors?.['pattern']">
          Password must contain 6 char, a number, a lowercase, an uppercase
        </div>
      </div>
    </div>

    <div class="mb-20">
      <mat-divider ></mat-divider>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          type="password"
          maxlength="250"
          formControlName="confirmPassword"
          matInput
        >
      </mat-form-field>
      <div *ngIf="registerForm.controls['confirmPassword'].invalid && (registerForm.controls['confirmPassword'].touched || registerForm.controls['confirmPassword'].dirty)" class="alert mb-10">
        <div *ngIf="registerForm.controls['confirmPassword'].errors?.['required']">
          Confirm password is required.
        </div>
        <div *ngIf="registerForm.controls['confirmPassword'].errors?.['mustMatch']">
          Passwords must match
        </div>
      </div>
    </div>

    <div class="mb-20">
      <mat-divider ></mat-divider>
    </div>

    <div class="form-group">
      <button
        mat-raised-button
        color="primary"
        [disabled]="isSubmitDisabled()"
      >
        Register
      </button>
      <a class="ml-20" routerLink="/login" mat-raised-button color="accent" >Cancel</a>
    </div>
  </form>
</div>
