<div class="center mt-5">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="connexion()">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input type="text" maxlength="250" formControlName="username" matInput>
        <button
          mat-icon-button
          matSuffix
          [disabled]="true"
          >
          <mat-icon class="c-black">login</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].touched || loginForm.controls['username'].dirty)" class="alert mb-10">
        <div *ngIf="loginForm.controls['username'].errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="loginForm.controls['username'].errors?.['email']">
          Your login is your mail creation
        </div>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [type]="hide ? 'password' : 'text'" maxlength="250" formControlName="password" matInput>
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide; false"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)" class="alert mb-10">
        <div *ngIf="loginForm.controls['password'].errors?.['required']">
          Password is required.
        </div>
      </div>
    </div>

    <div class="mb-10">
      <a routerLink="/resetPassword">
        Forgotten password ?
      </a>
    </div>

    <div class="form-group">
      <button
        mat-raised-button
        color="primary"
        [disabled]="isSubmitDisabled()"
      >
        Login
      </button>
      <a class="ml-20" routerLink="/register" mat-raised-button color="accent">Register</a>
    </div>
  </form>
</div>

